@font-family: HelveticaNeue, sans-serif;
@base-font-size: 16px;

@base-color: #fff;
@black: #000;
@error-color: rgba(255, 220, 220, 1);

@rectangle-width: 626px;
@rectangle-height: 436px;

@input-height: 48px;


//img urls
@img-path: "../img/";

@img-sunset: url("@{img-path}sunset.png");
@img-rabbit: url("@{img-path}rabbit.png");
@img-rabbit-small: url("@{img-path}rabbit-small.png");

@img-back: url("@{img-path}arrow-back.svg");
@img-input-valid: url("@{img-path}input-valid.svg");
@img-input-invalid: url("@{img-path}input-invalid.svg");